<div id="sidebar-checkout">
  <h3>Cart</h3>
  <p>Total: {{ total$ | async | currency }}</p>
  <button [routerLink]="['/checkout']" class="btn btn-success mb-3">Checkout</button>

  <div class="list-group">
    <a class="list-group-item" *ngFor="let item of items$ | async">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{item.product.name}}</h5>
        <small>x{{item.quantity}}</small>
      </div>
      <div class="d-flex justify-content-between align-items-center">
        <small>{{ getItemPrice(item, (vat$ | async)!) | currency}}</small>
        <button class="btn btn-link" (click)="remove(item.id)">remove</button>
      </div>
    </a>
  </div>
</div>