<div id="sidebar-checkout">
  <h3>Cart</h3>
  <p>Total: {{ total$ | async | currency }}</p>
  <button routerLink="/checkout" class="btn btn-primary mb-3">Checkout</button>
  
  <div id="list" class="mb-3">
    <ul  class="list-group" id="side-items-list">
      <li class="list-group-item item" *ngFor="let item of items$ | async; trackBy: trackById">
        <app-cart-item
          [item]="item"
          [vat]="(vat$ | async) || 0"
          (quantityChange)="updateQuantity(item, $event)"
        ></app-cart-item>
      </li>
    </ul>
  </div>
</div>