<div class="card mt-2">
  <div class="card-body">
    <h5 class="card-title">{{ product.name }}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ price | currency }}{{ discount | discountAmount }}</h6>
    <p class="card-text">{{ product.description }}</p>
    <a [routerLink]="`products/${product.id}`" class="btn btn-link">details</a>
  </div>
  <div class="card-footer text-muted text-end">
    <input 
      type="number" 
      value="1" 
      class="product-card-quantity" 
      [(ngModel)]="quantity" 
    >
    <button class="btn btn-link" (click)="addItem()">Add</button>
  </div>
</div>