<div>
  <button class="btn btn-secondary" (click)="refresh()">Refresha</button>
  
  <app-product-filter
    [filters]="(filters$ | async) || {}"
    (filterChange)="setFilters($event)"
  ></app-product-filter>
  
  <div class="row row-cols-1 row-cols-md-4 g-6 mt-5">
    <div class="col" *ngFor="let product of products$ | async; trackBy: trackById">
      <app-product-card
        [product]="product"
        [vat]="(vat$ | async) || 0"
        (addItem)="addToCart($event.productId, $event.quantity)"
        (openDetails)="routeDetails($event)"
      ></app-product-card>
    </div>
  </div>
</div>